@layer reset, primevue;

@layer reset {
  :root {
    font-size: 10px;
  }

  :root {
    --white: #fff;
    --red: #A60000;
    --yellow400: #FFD98E;
    --yellow500: #FFBE41;
  
    --black: #000;
    --black-60op: rgba(0, 0, 0, 60%);
  
    --vanilla500: #FDE7BC;
    --vanilla800: #E9D4AB;
    --vanilla900: #b8a37b;
    
    --gray100: #EFEFEF;
    --gray100-10op: rgba(239, 239, 239, 65%);
    --gray300: #D9D9D9;
    --gray400: #DFDFDF;
    --gray800: #333333;
    --gray800-10op: rgba(51, 51, 51, 10%);
  
    --font-title: 700 4.8rem/5.6rem 'Merriweather Sans', sans-serif;
    --font-title-secondary: 700 3.2rem/2.6rem 'Merriweather Sans', sans-serif;
    --font-subtitle: 700 2.0rem/2.6rem 'Merriweather Sans', sans-serif;
    --font-subtitle-secondary: 600 2.0rem/2.6rem 'Inter', sans-serif;
    --font-text: 400 1.6rem/2.6rem 'Inter', sans-serif;
    --font-text-secondary: 400 1.6rem/2.6rem 'Merriweather Sans', sans-serif;
    --font-text-tertiary: 400 1.4rem/2.2rem 'Merriweather Sans', sans-serif;
  
    --extra-large: 60px;
    --large: 48px;
    --medium: 36px;
    --medium-x: 24px;
    --medium-xs: 20px;
    --small: 16px;
    --small-x: 14px;
    --small-xs: 12px;
    --small-xl: 10px;
    --small-s: 6px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ModalDialog--active {
    overflow: hidden;
  }
}

@layer primevue {
  .p-inputtext {
    display: none !important;
  }

  #pv_id_1_panel {
    font-size: 16px;
  }

  .p-datepicker {
    padding: 0.75em;
  }

  .p-datepicker .p-datepicker-header {
    padding: 0 0 0.5em 0;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next {
    width: 1.75em;
    height: 1.75em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title {
    line-height: 1.75em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    margin-right: 0.5em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    padding: 0.25em;
  }

  .p-link {
    font-size: 1em;
  }

  .p-datepicker table {
    font-size: 1em;
    margin: 0.5em 0 0 0;
  }

  .p-datepicker table th {
    padding: 0.25em;
  }

  .p-datepicker table td {
    padding: 0.25em;
  }

  .p-datepicker table td > span {
    width: 2em;
    height: 2em;
  }

  .p-datepicker table td > span.p-highlight {
    color: var(--black-60op);
    background: var(--yellow400);
  }
  
  .p-datepicker table td.p-datepicker-today > span,
  .p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: var(--black-60op);
    background: var(--vanilla800);
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover {
    color: var(--vanilla900);
  }

}