@layer reset, primevue;

@layer reset {
  :root {
    font-size: 16px;
  }

  :root {
    --white: #fff;
    --red: #A60000;
    --green: #009254;
    --yellow400: #FFD98E;
    --yellow500: #FFBE41;
  
    --black: #000;
    --black-60op: rgba(0, 0, 0, 60%);
  
    --vanilla500: #FDE7BC;
    --vanilla800: #E9D4AB;
    --vanilla900: #b8a37b;
    
    --gray100: #EFEFEF;
    --gray100-10op: rgba(239, 239, 239, 65%);
    --gray300: #D9D9D9;
    --gray400: #DFDFDF;
    --gray800: #333333;
    --gray800-10op: rgba(51, 51, 51, 10%);
    --gray850: #2b2b2b;
  
    --font-title: 700 3rem/3.5rem 'Merriweather Sans', sans-serif;
    --font-title-secondary: 700 2rem/1.625rem 'Merriweather Sans', sans-serif;
    --font-subtitle: 700 1.25rem/1.625rem 'Merriweather Sans', sans-serif;
    --font-subtitle-secondary: 600 1.25rem/1.625rem 'Inter', sans-serif;
    --font-text: 400 1rem/1.625rem 'Inter', sans-serif;
    --font-text-secondary: 400 1rem/1.625rem 'Merriweather Sans', sans-serif;
    --font-text-tertiary: 400 0.875rem/1.375rem 'Merriweather Sans', sans-serif;
  
    --extra-large: 60px;
    --large: 48px;
    --medium: 36px;
    --medium-x: 24px;
    --medium-xs: 20px;
    --small: 16px;
    --small-x: 14px;
    --small-xs: 12px;
    --small-xl: 10px;
    --small-s: 6px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ModalDialog--active {
    overflow: hidden;
  }

  li {
    list-style: none;
  }

  a, li, button, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer primevue {
  .p-inputtext {
    display: none !important;
  }

  #pv_id_1_panel {
    font-size: 16px;
  }

  .p-datepicker {
    padding: 0.75em;
  }

  .p-datepicker .p-datepicker-header {
    padding: 0 0 0.5em 0;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next {
    width: 2em;
    height: 2em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title {
    line-height: 1.75em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    margin-right: 0.5em;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    padding: 0.25em;
  }

  .p-link {
    font-size: 1em;
  }

  .p-icon {
    width: 1em;
    height: 1.5em;
  }

  .p-datepicker table {
    font-size: 1em;
    margin: 0.5em 0 0 0;
  }

  .p-datepicker table th {
    padding: 0.25em;
  }

  .p-datepicker table td {
    padding: 0.25em;
  }

  .p-datepicker table td > span {
    width: 2em;
    height: 2em;
  }

  .p-datepicker table td > span.p-highlight {
    color: var(--black-60op) !important;
    background: var(--yellow400) !important;
  }
  
  .p-datepicker table td.p-datepicker-today > span,
  .p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: var(--black-60op) !important;
    background: var(--vanilla800) !important;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover {
    color: var(--vanilla900) !important;
  }

}

/* Skeleton Loader */

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: var(--small);
  width: 100%;
  animation: 2s ease-in infinite shine;
  overflow: hidden;
  margin: 0;
}

.skeleton-container.--flex-row-itens {
  flex-direction: row;
  align-items: center;
}

.skeleton-child {
  display: block;
  padding: 50px;
  border-radius: 4px;
}

.skeleton-child.--bg-light { background-color: #F4F4F2; }
.skeleton-child.--bg-regular { background-color: #E8E8E8; }
.skeleton-child.--bg-dark { background-color: #F0F0F0; }

.skeleton-child.--extra-small { padding: 6px; }
.skeleton-child.--small { padding: 16px; }
.skeleton-child.--medium { padding: 20px; }
.skeleton-child.--large { padding: 28px; }

.skeleton-child.--radius100 { 
  border-radius: 100%;
  aspect-ratio: 2/2; 
  height: max-content;
  width: max-content;
}

.skeleton-child.--no-min-width { min-width: initial !important;}
.skeleton-child.--10percent { width: 10%; min-width: 15vw;}
.skeleton-child.--20percent { width: 20%; min-width: 15vw;}
.skeleton-child.--30percent { width: 30%; min-width: 15vw;}
.skeleton-child.--40percent { width: 40%; min-width: 40px;}
.skeleton-child.--50percent { width: 50%; min-width: 15vw;}
.skeleton-child.--60percent { width: 60%; min-width: 15vw;}
.skeleton-child.--70percent { width: 70%; min-width: 15vw;}
.skeleton-child.--80percent { width: 80%; min-width: 15vw;}
.skeleton-child.--90percent { width: 90%; min-width: 15vw;}
.skeleton-child.--100percent { width: 100%; min-width: 15vw;}

@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}